<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>Algorithm visualizer </title>
</head>
<body class="body">
    <section class="home-container">
        <h1>Welcome to the algorithm visualizer !</h1>
        <h2>Choose among the concepts you wish to visualize :</h2>

        <div class="button-grid">
            <form action="/linear-search" method="get">
                <button class="prompt-button" type="submit">Linear search</button>
            </form>
            <form action="/binary-search" method="get">
                <button class="prompt-button" type="submit">Binary search</button>
            </form>
            <form action="/bubble-sort" method="get">
                <button class="prompt-button" type="submit">Bubble sort</button>
            </form>
            <form action="/merge-sort" method="get">
                <button class="prompt-button" type="submit">Merge sort</button>
            </form>
        </div>
    </section>
</body>
</html>
